/* Reset de márgenes y padding */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/* Configuración del body */
body {
    background-image: url('./imagenes/Block 1.jpg');  /* Ruta de la imagen */
    background-size: cover;  /* Hace que la imagen cubra todo el fondo */
    background-position: center center;  /* Centra la imagen en el fondo */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-attachment: fixed;  /* Hace que la imagen se quede fija cuando haces scroll */
    font-family: 'Arial', sans-serif;  /* Fuente por defecto */
    min-height: 100vh;  /* Asegura que el body ocupe toda la altura de la pantalla */
}

.Eliminar {
    background-color: red; /* Color de fondo */
    color: white;              /* Color del texto */
    padding: 5px 5px;        /* Relleno alrededor del texto */
    border: none;              /* Sin borde */
    border-radius: 5px;        /* Bordes redondeados */
    cursor: pointer;          /* Cambia el cursor al pasar por encima */
    font-size: 12px;           /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Transición suave */
    margin: 5px 5px;
  }

  .Unir {
    background-color: lightsalmon; /* Color de fondo */
    color: white;              /* Color del texto */
    padding: 5px 5px;        /* Relleno alrededor del texto */
    border: none;              /* Sin borde */
    border-radius: 5px;        /* Bordes redondeados */
    cursor: pointer;          /* Cambia el cursor al pasar por encima */
    font-size: 12px;           /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Transición suave */
    margin: 5px 5px;
  }

  
 .Contenedor_Tabla {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Space_Tabla {
  font-size: small;
  padding: 20px;
}

  
  
  