/* Reset de márgenes y padding */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/* Configuración del body */
body {
    background-size: cover;  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    font-family: 'Arial', sans-serif;  
    min-height: 100vh;  
}

/* Barra de navegación */

.navbar {
  background-color:white;
  display: flex;
  justify-content: space-between;  /* Espacia los elementos */
  align-items: center;             /* Alinea los elementos verticalmente */
  padding: 10px;
  height: 80px;
}

.Icono {
  margin-right: auto; 
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.Titulo_Compras {
  width: 500px;
}


.Enlace_index {
  text-decoration: none;
  color: black;
  font-size: large;
  background-color: white;
  border-style: none;
}

.Enlace_index:hover {
  transition: 0.2s;
  color: blue;
}

.Boton-abrir-menu {
  margin-left: auto; 
  margin-right: 10px;
}



/* Fin Barra de navegación */


.Eliminar {
    background-color:yellow; /* Color de fondo */
    color: black;              /* Color del texto */
    padding: 5px 5px;        /* Relleno alrededor del texto */
    border: none;              /* Sin borde */
    border-radius: 5px;        /* Bordes redondeados */
    cursor: pointer;          /* Cambia el cursor al pasar por encima */
    font-size: 12px;           /* Tamaño de la fuente */
    transition: background-color 0.3s ease; /* Transición suave */
    margin: 5px 5px;
  }

.menu-oculto{
  position: absolute;
  top: 81px;
  right: 1px;
  width: 150px;
  height: 250px;
  padding-right: 15px;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-content: center;
  border-radius: 5px;
  z-index: 10;
}

.Contenedor_Tabla {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.movil-lista-nav li{
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.movil-lista-nav li a{
  text-decoration: none;
  color: black;
}

.movil-lista-nav li a:hover{
transition: 0.3s;
  color: blue;
}

.Space_Tabla {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  margin: 200PX;
}

.Tabla_Listados_Existentes {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  margin: 200PX;
}

.Tabla_Listados_Existentes :hover {
  background-color: aqua;
  cursor: pointer;
}

.Ordenar_Alfabeto {
  text-decoration: none;
  color: black;
  font-size: large;
}

.Ordenar_Alfabeto:hover {
  cursor: pointer;
  color: blue;
}

/* Ventana Emergente */

/* Estilo para el fondo del popup */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 9999;
}

/* Estilo para el contenido del popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

/* Estilo de los botones dentro del popup */
.popup button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.popup .Aceptar_Lista_New {
  background-color: #4CAF50; /* Verde */
  color: white;
}
.popup .Cancelar_Lista_New {
  background-color: #f44336; /* Rojo */
  color: white;
}

/* Estilo para la lista */
#miLista {
  list-style-type: none;
  padding: 0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {

  .Titulo_Compras {
    width: 250px;
  }

}

.redes-sociales {
  margin-top: 10px;
}

